.hoverbtn.small {
font-size: 20px;
line-height: 45px;
width: 100%;
height: 45px;
margin: 7px;
}

.hoverbtn.mini {
font-size: 15px;
line-height: 32px;
width: 100%;
height: 30px;
margin: 7px;
}
.red{
    color: #e12468;
    border-top-color: #e12468;
}
.green{
color:#7ec141;
border-top-color: #7ec141;
}
.yellow{
color:#f1bf1b;
border-top-color: #f1bf1b;
}
.blue{
color:#16264e;
border-top-color: #16264e;
 }
.purple{
color:#49bbd3;
border-top-color: #49bbd3;
}
.hoverbtn.auto-width {
width: auto;
height: auto;
padding: 15px;
}

.hoverbtn:after {
pointer-events: none;
position: absolute;
width: 100%;
height: 100%;
content: '';
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}

/* .hoverbtn.effect-8:after {
top: 0;
left: 0;
padding: 0;
z-index: -1;
box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
opacity: 0;
-webkit-transform: scale(0.9);
-moz-transform: scale(0.9);
-ms-transform: scale(0.9);
transform: scale(0.9);
}

           

.hoverbtn.effect-8:hover:after {
-webkit-animation: sonarEffect 1.3s ease-out 75ms;
-moz-animation: sonarEffect 1.3s ease-out 75ms;
animation: sonarEffect 1.3s ease-out 75ms;
}*/
       