
body {
     overflow: hidden;
     margin: 0;
     width: 100%;
                
      }

/*footer*/

.menu-footer {
    
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
    
                }

                .btn-footer {
                    background: rgba(255, 255, 255, 0.1);
                    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
                    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
                    transition: transform ease-out 0.1s, background 0.2s;
                    width: 20%;
                    margin: -2px;
                    display: inline-block;
                    height: 50px;
                    text-align: center;
                    line-height: 50px;
                    cursor: pointer;
    
                }

                .btn-footer:after {
                    border-left:1px solid red;
                    content: '';
                }

                .btn-footer:last-child:after {
                    border-left:none;
                    content: '';
                }

